@{
    ViewBag.Title = "Com_Descargas";
}

<div class="jumbotron">
    <img src="~/fonts/computaciónGrande.png"/>
</div>

<div class="jumbotron">
    <h2 ALIGN=center><strong>¡Computación!</strong></h2>
    <p ALIGN=center>No todos los computines podemos formatear una computadora o instalarte un software pirata, pero ten por seguro, que todos programamos como ninguno.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/fonts/computaciónP1.png" style="align-self:center "/>
    </div>
    <div class="col-md-4">
        <img src="~/fonts/computaciónP2.png" />
        <!--p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></!--p-->
    </div>
    <div class="col-md-4">
        <img src="~/fonts/computaciónP3.png" />
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <img src="~/fonts/computaciónP4.png" style="align-self:center " />
    </div>
    <div class="col-md-4">
        <img src="~/fonts/computaciónP5.png" />
        <!--p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></!--p-->
    </div>    
    <div class="col-md-4">
        <img src="~/fonts/computaciónP6.png" />
    </div>
</div>
<div class="navbar-collapse collapse" >
    <ul class="nav navbar-nav navbar-right" style="margin-top:50px">
        <li>
            <a class="us_box" href="https://www.facebook.com/armando.nevaresluis" target="_blank"><img src="~/fonts/facebook.png" /></a>
        </li>
        <li>
            <a class="us_box" href="https://cr.linkedin.com/in/armandonl" target="_blank"><img src="~/fonts/linkedin.png" /></a>
        </li>
        <li>
            <a class="us_box" href="https://es.pinterest.com/armandonl/" target="_blank"><img src="~/fonts/pinterest.png" /></a>
        </li>
        <li>
            <a class="us_box" href="https://www.instagram.com/nlarmando/" target="_blank"><img src="~/fonts/instagram.png" /></a>
        </li>
        <li>
            <a class="us_box" href="https://twitter.com/nl_armando" target="_blank"><img src="~/fonts/twitter.png" /></a>
        </li>
    </ul>
</div>
