@{
    ViewBag.Title = "Contact";
}

<div>
    <img src="~/fonts/contactoGrande.png" />
</div>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right" style="margin-top:10px">
        <li>
            <a class="us_box" href="https://www.facebook.com/armando.nevaresluis" target="_blank"><img src="~/fonts/facebook.png" /></a>
        </li>
        <li>
            <a class="us_box" href="https://cr.linkedin.com/in/armandonl" target="_blank"><img src="~/fonts/linkedin.png" /></a>
        </li>
        <li>
            <a class="us_box" href="https://es.pinterest.com/armandonl/" target="_blank"><img src="~/fonts/pinterest.png" /></a>
        </li>
        <li>
            <a class="us_box" href="https://www.instagram.com/nlarmando/" target="_blank"><img src="~/fonts/instagram.png" /></a>
        </li>
        <li>
            <a class="us_box" href="https://twitter.com/nl_armando" target="_blank"><img src="~/fonts/twitter.png" /></a>
        </li>
    </ul>
</div>