@{
    ViewBag.Title = "Objetivos";
}

<div class="jumbotron">
    <img src="~/fonts/objetivosGrande.png" />
</div>

<div class="jumbotron">
    <h2 ALIGN=center><strong>¡Objetivos!</strong></h2>
    <p ALIGN=center>En la vida nos planteamos metas, tenemos sueños y deseos que buscamos hacer realidad. Los objetivos no son más que una reproyección alcanzable de esos sueños, metas y deseos que tenemos.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/fonts/objetivo1.png" style="align-self:center "/>
    </div>
    <div class="col-md-4">
        <img src="~/fonts/objetivo2.png" />
        <!--p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></!--p-->
    </div>
    <div class="col-md-4">
        <img src="~/fonts/objetivo3.png" />
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <img src="~/fonts/objetivo4.png" style="align-self:center " />
    </div>
    <div class="col-md-4">
        <img src="~/fonts/objetivo5.png" />
        <!--p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></!--p-->
    </div>    
    <div class="col-md-4">
        <img src="~/fonts/objetivo6.png" />
    </div>
</div>
<div class="navbar-collapse collapse" >
    <ul class="nav navbar-nav navbar-right" style="margin-top:50px">
        <li>
            <a class="us_box" href="https://www.facebook.com/armando.nevaresluis" target="_blank"><img src="~/fonts/facebook.png" /></a>
        </li>
        <li>
            <a class="us_box" href="https://cr.linkedin.com/in/armandonl" target="_blank"><img src="~/fonts/linkedin.png" /></a>
        </li>
        <li>
            <a class="us_box" href="https://es.pinterest.com/armandonl/" target="_blank"><img src="~/fonts/pinterest.png" /></a>
        </li>
        <li>
            <a class="us_box" href="https://www.instagram.com/nlarmando/" target="_blank"><img src="~/fonts/instagram.png" /></a>
        </li>
        <li>
            <a class="us_box" href="https://twitter.com/nl_armando" target="_blank"><img src="~/fonts/twitter.png" /></a>
        </li>
    </ul>
</div>
