@{
    ViewBag.Title = "Pasatiempos";
}

<div>
    <img src="~/fonts/pasatiempoGrande.png" />
</div>

<div class="jumbotron">
    <h2 ALIGN=center><strong>¡Bienvenido!</strong></h2>
    <p ALIGN=center>Este sitio web es un breve resumen de lo que soy, de lo que me gusta y de lo que anhelo en la vida.</p>
    <p ALIGN=center>Revísalo y déjame saber tus comentarios.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/fonts/objetivos.png" style="align-self:center "/>
    </div>
    <div class="col-md-4">
        <img src="~/fonts/pasatiempo.png" />
        <!--p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></!--p-->
    </div>
    <div class="col-md-4">
        <img src="~/fonts/computación.png" />
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <img src="~/fonts/contacto.png" style="align-self:center " />
    </div>
    <div class="col-md-4">
        <img src="~/fonts/frase.png" />
        <!--p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></!--p-->
    </div>    
    <div class="col-md-4">
        <img src="~/fonts/acerca.png" />
    </div>
</div>
<div class="navbar-collapse collapse" >
    <ul class="nav navbar-nav navbar-right" style="margin-top:50px">
        <li>
            <a class="us_box" href="https://www.facebook.com/armando.nevaresluis" target="_blank"><img src="~/fonts/facebook.png" /></a>
        </li>
        <li>
            <a class="us_box" href="https://cr.linkedin.com/in/armandonl" target="_blank"><img src="~/fonts/linkedin.png" /></a>
        </li>
        <li>
            <a class="us_box" href="https://es.pinterest.com/armandonl/" target="_blank"><img src="~/fonts/pinterest.png" /></a>
        </li>
        <li>
            <a class="us_box" href="https://www.instagram.com/nlarmando/" target="_blank"><img src="~/fonts/instagram.png" /></a>
        </li>
        <li>
            <a class="us_box" href="https://twitter.com/nl_armando" target="_blank"><img src="~/fonts/twitter.png" /></a>
        </li>
    </ul>
</div>
